<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>
<h2>pstTimeOfPurchase: <%= @order.pstTimeOfPurchase %></h2>
<h2>gstTimeOfPurchase: <%= @order.gstTimeOfPurchase %></h2>
<h2>orderStatus: <%= @order.orderStatus %></h2>
