<div class="breadcrumbs">
  <%= link_to "Products", root_path %> > <%= link_to @category.name, @category %>
</div>
<br>
<br>
<div class="columns is-multiline">
  <h3><%= @category.name %></h3>
</div>
<div class="columns is-multiline">
  <%= render partial: 'products/product',
             collection: @category.products,
             locals: { name_is_link: true } %>
</div>
